<html lang="en">
  <head>
    <style href="../styles/style.css"></style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full-Stack JavaScript Week Four</title>
  </head>
  <body>
    <h1>Full-Stack JavaScript Week Four</h1>
    <h2>
      With hard work and focus you will create a deeper understanding of node
      and coding for the full-stack.
      <br />
      <br />
      <li><a href="http://localhost:3000/index">index page</a></li>
      <li><a href="http://localhost:3000/about">about page</a></li>
      <li><a href="http://localhost:3000/aboutMe">about Me page</a></li>
      <li><a href="http://localhost:3000/contact">contact page</a></li>
      <li><a href="http://localhost:3000/subscribe">Subscribe page</a></li>
    </h2>
  </body>
</html>
